pipeline/PipeLookupOnBulkCopy.json
{
	"name": "PipeLookupOnBulkCopy",
	"properties": {
		"activities": [
			{
				"name": "LookupForBulkCopyTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'BulkCopy' \nand TABLE_NAME IN ('Customers','ProductLines','Employees','Offices');\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ProjectDatasetInAzureSql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PipeDBtoDW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupForBulkCopyTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PipeCopyJsonFromDBtoDW",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"ListOfTables": {
							"value": "@activity('LookupForBulkCopyTables').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "ProjectGladiator"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-31T09:52:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}