pipeline/PipeLineWatermarkMoveData.json
{
	"name": "PipeLineWatermarkMoveData",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select WatermarkValue from dbo.watermarktable \nwhere tablename=@{pipeline().parameters.tablename}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DatasetInWatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyfromDBtoStore",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[@{pipeline().parameters.tablename}]\nwhere LastModifyDate > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DatasetInWatermark",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DatasetOutWatermarkStore",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"tablename": {
				"type": "string",
				"defaultValue": "transactions"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-22T03:49:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}