pipeline/PipeParamsAndVarsDays.json
{
	"name": "PipeParamsAndVarsDays",
	"properties": {
		"activities": [
			{
				"name": "InitializeVariable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "weekdays",
					"value": [
						"Monday",
						"Tuesday",
						"Wednesday",
						"Thursday"
					]
				}
			},
			{
				"name": "WhetherWeekDay",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "InitializeVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.listofalldays",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SetNone",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "listofdays",
								"value": "No_Days"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SetListofDays",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "listofdays",
								"value": {
									"value": "@{length(variables('weekdays'))} files as: @{join(variables('weekdays'), ',')}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "weekdays",
								"value": "Friday,Saturday,Sunday"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"listofalldays": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"weekdays": {
				"type": "Array"
			},
			"listofdays": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ParamsAndVars"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-20T09:41:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}