shreyasvm-datafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "shreyasvm-datafactory"
		},
		"LinkDataStoreProject_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkDataStoreProject'"
		},
		"LinkShreyasDataLake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LinkShreyasDataLake'"
		},
		"LinkShreyasDataStore_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkShreyasDataStore'"
		},
		"LinkShreyasSqlDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkShreyasSqlDB'"
		},
		"LinkTabletoPool_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkTabletoPool'"
		},
		"linkStagingBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkStagingBlob'"
		},
		"LinkShreyasDataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://shreyasmadl.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PipeParamsAndVars')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InitializeVariable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FIles",
							"value": [
								"colors",
								"inventories",
								"inventory_parts",
								"part_categories",
								"parts",
								"sets",
								"themes"
							]
						}
					},
					{
						"name": "WhetherLoadFIlesOrNot",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "InitializeVariable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.LoalAllListData",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SetNone",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ListOfFiles",
										"value": "No_Files"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "AppendInventory",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FIles",
										"value": "Inventory_Set"
									}
								},
								{
									"name": "AppendPart_relationship",
									"description": "",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "AppendInventory",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FIles",
										"value": "part_relationship"
									}
								},
								{
									"name": "SetListOfFiles",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "AppendPart_relationship",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ListOfFiles",
										"value": {
											"value": "Load @{length(variables('Files'))} files as: @{join(variables('Files'), ',')}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"LoalAllListData": {
						"type": "bool",
						"defaultValue": false
					}
				},
				"variables": {
					"FIles": {
						"type": "Array"
					},
					"ListOfFiles": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ParamsAndVars"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-20T04:53:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PipeParamsAndVarsDays')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "InitializeVariable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "weekdays",
							"value": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday"
							]
						}
					},
					{
						"name": "WhetherWeekDay",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "InitializeVariable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.listofalldays",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SetNone",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "listofdays",
										"value": "No_Days"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SetListofDays",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Append variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "listofdays",
										"value": {
											"value": "@{length(variables('weekdays'))} files as: @{join(variables('weekdays'), ',')}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "weekdays",
										"value": "Friday,Saturday,Sunday"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"listofalldays": {
						"type": "bool",
						"defaultValue": false
					}
				},
				"variables": {
					"weekdays": {
						"type": "Array"
					},
					"listofdays": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ParamsAndVars"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-20T09:41:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkDataStoreProject')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LinkDataStoreProject_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkShreyasDataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LinkShreyasDataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LinkShreyasDataLake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkShreyasDataStore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LinkShreyasDataStore_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkShreyasSqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LinkShreyasSqlDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkTabletoPool')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LinkTabletoPool_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkStagingBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linkStagingBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PipeStoredProcedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StoredDBProcedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_write_watermark]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@pipeline().parameters.LastModifiedtime",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LinkShreyasSqlDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"LastModifiedtime": {
						"type": "string",
						"defaultValue": "1/1/2020 12:30:00 AM"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "data_source_table"
					}
				},
				"folder": {
					"name": "BulkDBCopy"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-21T08:35:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataInSQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CopyFromDBtoPool"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "LoanData_raw"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetInBlobJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasDataStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GetMetaForEach"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "data"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasDataStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetInSQLShreyasDBProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ListPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Size",
						"type": "nvarchar"
					},
					{
						"name": "Weight",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductModelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SellStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SellEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DiscontinuedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ThumbNailPhoto",
						"type": "varbinary"
					},
					{
						"name": "ThumbnailPhotoFileName",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetInShreyasDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BulkDBCopy"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetInShreyasDataStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasDataStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GetMetaForEach"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasDataStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetInShreyasDatalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GetMetaForEach"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetInWatermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "WatermarkActivity"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tpname",
						"type": "varchar"
					},
					{
						"name": "watermarkdate",
						"type": "date"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetOutBlobJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasDataStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GetMetaForEach"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MergedOutputFile",
						"container": "jsonoutput"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasDataStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetOutShreyasDataStoreOutputs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasDataStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GetMetaForEach"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasDataStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetOutShreyasdbProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkShreyasDataStore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Products.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "1",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Bikes",
						"type": "String"
					},
					{
						"name": "cfbda25c-df71-47a7-b81b-64ee161aa37c",
						"type": "String"
					},
					{
						"name": "2002-06-01 00:00:00.0000000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkShreyasDataStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetOutWarehouse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkTabletoPool",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "employee"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkTabletoPool')]"
			]
		}
	]
}